.main-page {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: floralwhite;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    height: 600px;
    width: 500px;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.calculator__display {
    box-sizing: border-box;
    height: 100px;
    width: 450px;
    padding: 10px;
    background-color: rgb(197, 224, 216);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 22px;
}

.display_current-operation {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 39px;
}

.display_current-number {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 39px;
}

.calculator__buttons-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    width: 450px;
    height: 450px;
}

.button {
    background-color: rgb(193, 190, 209);
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.button_operate,
.button_equal {
    background-color: rgb(255, 235, 222);
}

.button:hover {
    background-color: lightblue;
}

.button_operate:hover,
.button_equal:hover {
    background-color: rgb(255, 211, 189);
}

.button:nth-child(17) {
    grid-column: 1 / 3;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: floralwhite;
}

.logo {
    height: 25px;
    margin-left: 5px;
    transition: transform .5s ease-in-out;
}

.logo:hover {
    transform: rotate(360deg);
}